<%-include('../layout/head')-%>

<div>
    <%-include('../partials/admin-header')-%>
</div>


    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center" style="padding-top: 100px; height: 100vh;  ">
            <div style="height: 500px; overflow-y: scroll;" class="shadow">

                <table class="text-center  container"  >
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Order Id</th>
                            <th scope="col">User Id</th>
                            <th scope="col">Purchased On</th>
                            <th scope="col">Payment Method</th>
                            <th scope="col">Total Price</th>
                            <th scope="col">Status</th>
                            <th scope="col">View</th>
                          </tr>
                    </thead>
                    <tbody>
                        <% if (orderData.length > 0) { %>
                          <% orderData.reverse().forEach((x, index) => { %>
                            <tr class="border-bottom">
                              <th scope=""><%= index + 1 %></th>
                              <td><%= x._id %></td>
                              <td><%= x.UserId %></td>
                              <td><%= x.OrderDate %></td>
                              <td><%= x.PaymentMethod %></td>
                              <td><%= x.TotalPrice %></td>
                              <td>
                                 
                                
                                <%if(x.Products && x.Products.some(product=> product.Status === 'Requested for return')){%>
                                      <div>
                                            <!-- Return order request Button trigger modal -->

                                        <button id="verifyReturnOrder" onclick="verifyReturnOrder('<%=x._id%>')" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                          Request for return
                                        </button>
                                      </div>
                                  <%}else if(x.return && x.return.returnStatus=='Returned'){%>
                                    <span class="text-danger"><%=x.return.returnStatus%></span>
                                    <%}else{%>
                                    <% if (x.Status !== 'Cancelled' && x.Status !=='Delivered') { %>
                                        <% const currentStatus = x.Status || 'Order Placed'; %>
                                        <select class="form-select" id="statusSelect<%= x %>" onchange="updateOrderStatus('<%= x._id %>', this.value)">
                                        <option value="Order Placed" <%= currentStatus === 'Order Placed' ? 'selected' : '' %>>Order Placed</option>
                                        <option value="Shipped" <%= currentStatus === 'Shipped' ? 'selected' : '' %>>Shipped </option>
                                        <option value="Delivered" <%= currentStatus === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                                        <option value="Rejected" <%= currentStatus === 'Rejected' ? 'selected' : '' %>>Rejected</option>
                                        </select>
                                    <% } else if(x.Status=='Cancelled') { %>
                                        <span class="text-danger"><%=x.Status%></span>
                                    <% } else{ %>
                                      <span class="text-success"><%=x.Status%></span>
                                      <%}%>
                                      <%}%>
                    
                              </td>
                              <td><a  href="/admin/get_OrderDetails/<%=x._id%>""><button type="button" class="btn btn-light">View</button></a></td>
                            </tr>
                          <% }) %>
                        <% } else { %>
                          <tr>
                            <td colspan="8">
                              <h4>No Data Available</h4>
                            </td>
                          </tr>
                        <% } %>
                      </tbody>
                </table>
            </div>
               
        </div>
    </div>



<!-- Show return request Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Return</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="returnOrderRequestModalBody"></div>
      <form id="verifyReturnOrderSubmitForm" onsubmit="verifyReturnOrderSubmit()">
        <input type="text" name="RetunOderID" id="RetunOderID" style="display: none;">
      
             
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>

    </div>
  </div>
</div>

<script>
    function verifyReturnOrderSubmit(){
      const verifyReturnOrderSubmitForm = document.querySelector('#verifyReturnOrderSubmitForm')
      if(verifyReturnOrderSubmitForm){
        fetch('/confirmOrderReturn',{
          method:'POST',
          headers: {
        'Content-Type': 'application/x-www-form-urlencoded', // Set the content type
      },
      body:new URLSearchParams(new FormData(verifyReturnOrderSubmitForm))
        })
        .then((res)=>res.json())
        .then((data)=>{
          if(data.success){
            Swal.fire({
      title: "Good job!",
      text: "Return Order Successfull!",
      icon: "success"
    });
          }
        })
        .catch((error)=>{
          console.log(error);
        })

       
      }
    }
</script>
      
  <%-include('../layout/footer')-%>


  