
<%-include('../layout/head')-%>

<div>
    <%-include('../partials/admin-header')-%>
</div>
<style>
.CoupenSubHeading{
    font-weight: bold;
    
}
</style>
<section>
  <div style="padding: 100px 20px 0px 20px;" class="col-md-12">
        <div class="shadow col-md-12 " style="height: 75vh; overflow-y: scroll;">
             <div class="row ">
              <%if(coupons.length>0){%>
                <%coupons.forEach(coupon=>{%>
                      <div class="card col-md-3  p-5 m-3">
                        <div class="d-flex justify-content-center mb-5 h4">
                          <div  class="CoupenSubHeading">Coupon</div>
                          
                        </div>
                            <div class="d-flex justify-content-between">
                              <div  class="CoupenSubHeading">Name :</div>
                              <label><%=coupon.couponName%></label>
                            </div>
                            <div class="d-flex justify-content-between">
                              <div class="CoupenSubHeading">Code :</div>
                              <label><%=coupon.couponCode%></label>
                            </div>
                            <div class="d-flex justify-content-between">
                              <div class="CoupenSubHeading">Discount Amount :</div>
                              <label><%=coupon.discountAmount%></label>
                            </div>
                            <div class="d-flex justify-content-between">
                              <div class="CoupenSubHeading">Minimum Purchase :</div>
                              <label><%=coupon.MinimumPurchaseAmount%></label>
                            </div>
                            <div class="d-flex justify-content-between">
                              <div class="CoupenSubHeading">couponType :</div>
                              <label><%=coupon.couponType%></label>
                            </div>
                            <div class="d-flex justify-content-between">
                              <div class="CoupenSubHeading">startDate :</div>
                              <label><%=coupon.startDate%></label>
                            </div>
                            <div class="d-flex justify-content-between">
                              <div class="CoupenSubHeading">endDate :</div>
                              <label><%=coupon.endDate%></label>
                            </div>
                            <div class="d-flex justify-content-between mt-4" >
                                <button  type="button" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#editModal<%=coupon._id%>"> Edit </button>
                                <a  onclick="deleteCoupon('<%=coupon._id%>')" type="button" class="btn btn-danger">Delete </a>
                            </div>
                      </div>
                    
                      <!-- EDIT MODAL -->

                      <div class="modal fade p-5" id="editModal<%=coupon._id%>" tabindex="-1" aria-divledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" >
                            <div class="modal-content" id="editModalBody" >
                                
                                <div class="modal-content">
                                    <div class="modal-header bg-black text-light " data-bs-theme="dark">
                                      <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Coupen</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-div="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <form id="editCouponForm<%=coupon._id%>"  onsubmit="return editCouponSubmit('<%=coupon._id%>')">
                                        <div class="mb-3">
                                          <div for="exampleInputEmail1" class="form-div">Coupon Name </div>
                                          <input type="text" required value='<%=coupon.couponName%>' class="form-control" name="couponName" id="exampleInputEmail1" aria-describedby="emailHelp">
                                        </div>
                                        <div class="mb-3">
                                          <div for="exampleInputPassword1" class="form-div">Coupon Code </div>
                                          
                                          <input type="text" required value='<%=coupon.couponCode%>' class="form-control" onchange="editCouponValidation('<%=coupon._id%>')" name="couponCode" id="editCouponCode<%=coupon._id%>">
                                          <span id="editCouponCodeError" class="text-danger"></span>
                                          <p class="text-secondary fw-lighter "> Must Include :A-Z,a-z,0-9</p>
                                        </div>
                                        
                                        <div class="mb-3">
                                          <div for="exampleInputPassword1" class="form-div">Minimum Purchase Amount </div>
                                          <input type="number" required value='<%=coupon.MinimumPurchaseAmount%>' class="form-control" name="MinimumPurchaseAmount" id="EditMinimumPurchaseAmount<%=coupon._id%>">
                                        </div>

                                        <div class="mb-3">
                                          <div for="exampleInputPassword1" class="form-div">Discount Amount </div>
                                          <input type="number" required value='<%=coupon.discountAmount%>' onchange="editCouponValidation('<%=coupon._id%>')" class="form-control" name="discountAmount" id="EditDiscountAmount<%=coupon._id%>">
                                          <span id="editDiscountError<%=coupon._id%>" class="text-danger"></span>
                                        </div>

                                        <div class="mb-3">
                                            <div class="CoupenSubHeading">Public Or Fixed..?</div>
                                            <select required class="form-control" name="couponType" id="">
                                                <option value="public" <%=coupon.couponType%> === 'public' ? 'selected' : ''>Public</option>
                                                <option value="fixed" <%=coupon.couponType%> === 'fixed' ? 'selected' : ''>Fixed</option>
                                            </select>
                                        </div>
                        
                                          <div class="mb-3">
                                            <div for="exampleInputPassword1" class="form-div">Select Start Date</div>
                                            <input type="date" value='<%=coupon.startDate%>' name="startDate" class="form-control" id="editStartDate<%=coupon._id%>">
                                          </div>
                                          <div class="mb-3">
                                            <div for="exampleInputPassword1" class="form-div">Select End Date  </div>
                                            <input type="date" value='<%=coupon.endDate%>' name="endDate" class="form-control" id="editEndDate<%=coupon._id%>">
                                            <span id="editendDateError<%=coupon._id%>" class="text-danger"></span>
                                          </div>
                                        </div>
                                        <button type="submit" class="btn btn-success w-100">Submit</button>
                                      </form>
                                    </div>
                                  </div>
                            </div>
                    </div>
                      
                            
                  <%})%>
            <%}else{%>
              <div class=" d-flex justify-content-center p-5 h3 text-danger">
                There is no Coupon available now..!
              </div>
              <%}%>
            
             </div>
        </div>
        <div>
          <!-- Button trigger modal -->
            <button type="button" class="btn btn-success mt-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
             Add New Coupon
            </button>
        </div>
  </div>
</section>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-divledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-black text-light " data-bs-theme="dark">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Coupen</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-div="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addNewCoupenForm"  onsubmit="return addNewCoupon()">
          <div class="mb-3">
            <div for="exampleInputEmail1" class="form-div">Coupon Name </div>
            <input type="text" required class="form-control" name="couponName" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <div for="exampleInputPassword1" class="form-div">Coupon Code </div>
            <input type="text" required class="form-control" onchange="addNewCouponValidation()" name="couponCode" id="CouponCode">
            <span id="CouponCodeError" class="text-danger"></span>
            <p class="text-secondary fw-lighter "> Must Include :A-Z,a-z,0-9</p>
            
          </div>
          
          <div class="mb-3">
            <div for="exampleInputPassword1" class="form-div">Minimum Purchase Amount </div>
            <input type="number" required class="form-control " id="MinimumPurchaseAmount_add" name="MinimumPurchaseAmount" >
          </div>

          <div class="mb-3">
            <div for="exampleInputPassword1" class="form-div">Discount Amount </div>
            <input type="number" required class="form-control" id="discountAmount_add" onchange="return addNewCouponValidation()" name="discountAmount" >
            <span id="DiscountError" class="text-danger"></span>
          </div>
          <div class="mb-3">
            <div class="CoupenSubHeading">Public Or Privet..?</div>
              <select class="form-control" required name="couponType" id="">
                <option value="public">Public</option>
                <option value="fixed">Privet</option>
              </select>
          </div>
          <div>
            <div class="mb-3">
              <div for="exampleInputPassword1"  class="form-div">Select Start Date</div>
              <input type="date" required name="startDate" class="form-control" id="startDate">
            </div>
            <div class="mb-3">
              <div for="exampleInputPassword1" class="form-div">Select End Date  </div>
              <input type="date"  required name="endDate" class="form-control" id="endDate">
              <span id="endDateError" class="text-danger"></span>
            </div>
          </div>
          <button type="submit" class="btn btn-success w-100">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>





<%-include('../layout/footer')-%>