<%-include('../layout/head')-%>

    <!-- user header partial -->

    <%-include('../partials/user-header')-%>

        <section id="cart">
            <div class="container">
                <div class="row  ">
                    <div class="d-flex gap-4 ">
                        <div class="col-md-8">
                            <div class="diplayCartIems shadow-lg ">
                                <%if(cartItems.length>0){%>
                                <%cartItems.forEach((item)=>{%>
                                <div class="itemsShow border-bottom p-3">
                                    <div class="cart_image col-md-2 " >
                                        <img src="/static/uploads/<%=item.ProductId.image[0]%>"
                                            alt="image">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="text-success "  >
                                            <h6><%=item.ProductId.name%></h6>
                                        </div>
                                        <div>
                                            <h4><span>₹</span><%=item.ProductId.price%></h4>
                                        </div>

                                    </div>
                                
                                    <div class="cart_button col-md-2 " style="display: flex ;justify-content: flex-end;">
                                        <button id="minusButton<%=item.ProductId._id%>"  onclick=" changeQuantity('<%=item.ProductId._id%>',-1)" >-</button>
                                        <div class="input1">
                                            
                                            <input type="text" readonly  min="1" value="<%=item.Quantity%>" name="cartQuantity" id="cartQuantity<%=item.ProductId._id%>">
                                        </div>
                                        <button id="PlusButton" onclick="changeQuantity('<%=item.ProductId._id%>',1)" >+</button>
                                        
                                    </div>
                                    <div class="col-md-2" style="text-align: center;">
                                        <button onclick=" removeFromCart('<%=item.ProductId._id%>')" class="btn btn-secondary">Remove</button>
                                    </div>
                                </div>
                                <%})%>
                                <%}else{%>
                                    <div class="p-4 d-flex justify-content-center text-danger ">
                                        <h4>Your Cart is empty.</h4>
                                    </div>
                                 <%}%>   

                            </div>

                            <%if(cartItems.length>0){%>
                            <div>
                                <a href="/get_palceOrder" class="btn btn-success mt-3">Place Order</a>
                            </div>
                            <%}%> 
                        </div>
                        <div class="priceDetails col-md-4 ">

                            <div class="border p-3 shadow-lg">
                                <div class="priceDetails_div">
                                    <h5 class="text-success"><u>Price Dateils</u></h5>
                                </div>
                               <div>
                                <div>
                                    <div class="d-flex priceDetails_div border-bottom">
                                        <h6>Price (<%=cartItems.length%> items)</h6>
                                        <h6><span>₹</span><%=cartToatal%></h6>
                                    </div>
                                    <div class="d-flex priceDetails_div border-bottom">
                                        <h6>Delevery Charge</h6>
                                        <h6>Free Delevery</h6>
                                    </div>
                                </div>

                                <div>
                                    <div class="d-flex priceDetails_div text-success">
                                        <h4>Total</h4>
                                        <h4><span>₹</span><%=cartToatal%></h4>
                                    </div>
                                </div>
                               </div>
                            </div>
                           
                            

                    </div>
                </div>
            </div>
        </section>



        <!-- user footer partials -->
        <%-include('../partials/user-footer')-%>
            <!-- user footer partials -->



            <%-include('../layout/footer')-%>