    <%-include('../layout/head')-%>
        <!-- user header partial -->
    <%-include('../partials/user-header')-%>

    <section>
        <section class="vh-100" style="background-color: #eee; ">
            <div class="container-fluid py-5 ">
              <div class="row d-flex justify-content-center align-items-center">
                <div class="col">
                  <div class="card card-stepper shadow" style="border-radius: 10px; max-height: 400px;margin-top: 100px; overflow-y: scroll; ">
                  <%if(userOrderData.length>0){%>
                    
                    <%userOrderData.reverse().forEach((order)=>{%>
                      
                        
                                                  

                        <section class="" style="background-color: #eee;">
                            <div class=" py-5 ">
                              <div class="row d-flex justify-content-center align-items-center ">
                                <div class="col-lg-11 col-md-12 col-sm-12">
                                  <div class="card card-stepper" style="border-radius: 10px;">
                                    <div class="card-body p-4">
                          
                                      <div class="d-flex justify-content-between align-items-center mb-5">
                                        <div class="d-flex flex-column">
                                            <span class="lead fw-normal">
                                              <u>
                                                Your order has been delivered 
                                              </u>
                                                <span class="text-muted p-4" style="font-size: small;"> &nbsp;&nbsp;&nbsp;(<%=order.OrderDate%>)</span>
                                              
                                            </span>

                                            <%order.Products.forEach((product)=>{%>
                                                <div class="  p-1">
                                            <span class="small  "><h6 class=""> • <%=product.ProductId.name%></h6></span>
                                          
                                            <span class="" style="font-size:small;font-weight: 700;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quatity : <%=product.Quantity%> , </span>
                                            <span class="" style="font-size:small;font-weight: 700; color: rgb(93, 96, 98);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Status : <%=product.Status%> </span>
                                                  </div>
                                            <%})%>
                                          </div>
                                          
                                        <div>
                                          <a href="/get_OrderDetails/<%=order._id%>" class="btn btn-outline-primary" type="button">Track  details</a>
                                        </div>
                                      </div>
                                      <%if(order.Status!='Cancelled'){%>
                          
                                      <div class="d-flex flex-row justify-content-between align-items-center align-content-center">
                                    
                                        <span class="dot"></span>
                                        <%if(order.Status==='Order Placed'){%>
                                          <hr class="flex-fill track-line"><span
                                          class="d-flex justify-content-center align-items-center big-dot dot">
                                          <i class="fa fa-check text-white"></i></span>
                                        <%}else{%>
                                          <hr class="flex-fill track-line"><span class="dot"></span>
                                          <%}%>

                                          <%if(order.Status==='Shipped'){%>
                                            <hr class="flex-fill track-line"><span
                                            class="d-flex justify-content-center align-items-center big-dot dot">
                                            <i class="fa fa-check text-white"></i></span>
                                            <%}else{%>
                                              <hr class="flex-fill track-line"><span class="dot"></span>
                                              <%}%>
                                        

                                              <%if(order.Status==='Delivered'){%>
                                                <hr class="flex-fill track-line"><span
                                                class="d-flex justify-content-center align-items-center big-dot dot">
                                                <i class="fa fa-check text-white"></i></span>
                                                <%}else{%>
                                                  <hr class="flex-fill track-line"><span class="dot"></span>
                                                  <%}%>
                                      
                                      </div>
                          
                                      <div class="d-flex flex-row justify-content-between align-items-center ">
                                        
                                          <div  class="d-flex flex-column justify-content-center">
                                            <span class="btn ">Pending</span>
                                        </div>
                                        <div class="d-flex flex-column justify-content-center align-items-center">
                                            <span class="btn ">Order Placed</span>
                                        </div>
                                        <div class="d-flex flex-column align-items-center">
                                            <span class="btn ">Shipped</span>
                                        </div>
                                        <div class="d-flex flex-column align-items-end">
                                            <span class="btn ">Delivered</span>
                                        </div>
                                      
                                      </div>

                                      <%if(order.return && order.return.returnStatus=='Request for Return' || order.return.returnStatus=='Returned'){%>
                                        <div class="alert alert-warning d-flex justify-content-center mt-5" role="alert">
                                          <h1><%=order.return.returnStatus%></h1>
                                        </div>
                                      <%}%>

                                      <div class="d-flex justify-content-between mt-5 " >
                                        <%if(order.Status=='Delivered'){%>
                                          <div id=""> 
                                            <%if(order.return && order.return.returnStatus!=='Request for Return' && order.return.returnStatus !=='Returned'){%>
                                            <!-- Button trigger modal -->
                                            <% if (new Date(order.returnExpiryDate) <= new Date(nowDate)) { %>
                                              <button type="button" id="returnOrderButton" class="btn btn-secondary" disabled >
                                                Sorry Ruturn date expired
                                              </button>
                                              <%}else{%>
                                                
                                            <button type="button" id="returnOrderButton" class="btn btn-primary" onclick="returnOrder('<%=order._id%>')" >
                                              Ruturn
                                            </button>
                                            <%}%>
                                            <%}%>
                                          </div>
                                          
                                        
                                          <%}else{%>
                                    
                                            <div id=""> 
                                              <button id="cancelOrderButton" onclick="cancelOrder('<%=order._id%>')" class="btn btn-outline-danger">
                                                Cancel Order
                                              </button>
                                            </div>
                                          
                                            <%}%>
                                        
                                            <%if(order.return && order.return.returnStatus!=='Request for Return' && order.return.returnStatus !=='Returned'){%>
                                        <div>
                                          <button onclick="getInvoice('<%=order._id%>')" class="btn btn-outline-primary">Get Invoice</button>
                                        </div>
                                        <%}%>
                                    </div>
                                    <%}else{%>
                                      <div class="alert alert-danger text-center h2">
                                        Order Cancelled
                                      </div>
                                      <%}%>

                          
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                    <%})%>
                    <%}else{%>

                      
                      <div style="    display: flex;
                      justify-content: center;
                      align-items: center;
                      height: 100%; font-size: larger;
                      font-weight: 700; 
                      color: rgb(160, 33, 33);"> You Have No Orders Right Now !</div>
                      
                      <%}%>


                  </div>
                </div>
              </div>
            </div>
          </section>
    </section>


    <div>
      <!-- return Order Modal start  -->
  
                <!-- Modal -->
                <div class="modal fade" id="returnOrderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 9999;">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form id="returnOrderForm" onsubmit="returnOrderSubmit()">
                          <div>
                            <div>
                              <input type="checkbox" name="returnAllProducts"  id="returnAllProductsId">
                              <label for="">All Products</label>
                            </div>
                          <div id="returProductsContent">
                          </div>  
                          </div>
                          <div class="mb-3">
                            <label for="" class="col-form-label">Reason:</label>
                            <input type="text" name="Reason" class="form-control" id="">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" id="returnOrderSubmit" data-bs-dismiss="modal" class="btn btn-primary">Submit</button>
                          </div>
                        </form>
                      </div>
                    
                    </div>
                  </div>
                </div>
  <!-- return Order Modal end -->
    </div>
    
    <div>
      <!-- cancel Order Modal start  -->
  
                <!-- Modal -->
                <div class="modal fade" id="cancelOrderModal"  tabindex="-1" aria-labelledby="canceModalLabel" aria-hidden="true" style="z-index: 9999;">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="canceModalLabel">Select Products to Cancel</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form id="cancelOrderForm" onsubmit="cancelOrderSubmit()" >
                          <div>
                            <div>
                              <input type="checkbox" name="AllProducts"  id="AllProductsId">
                              <label for="">All Products</label>
                            </div>
                          <div id="cancelProductsContent" class="p-2">
                           
                          </div>  
                          </div>
                          <div class="mb-3">
                            <label for="" class="col-form-label">Reason:</label>
                            <input type="text" name="Reason" class="form-control" id="">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit"  id="cancelOrderSubmit" data-bs-dismiss="modal" class="btn btn-primary">Submit</button>
                          </div>
                        </form>
                      </div>
                    
                    </div>
                  </div>
                </div>
  <!-- cancel Order Modal end -->
    </div>

<script>
//----------------------------------------------------------------------------------------------

let OrderId //it is a global variable, so dont delete it...!
//----------------------------------------------------------------------------------------------

function returnOrder (orderId){
    OrderId = orderId
    const myModal = new bootstrap.Modal(document.getElementById('returnOrderModal'));
    myModal.show();

    const returProductsContent = document.getElementById('returProductsContent');
    
    fetch(`/fetchReturnOrderProducts?OrderId=${orderId}`,{})
    .then((res)=>res.json())
    .then((data) => {
                    if (data.success) {
                     
                      returProductsContent.innerHTML = '';
                        document.getElementById('returnAllProductsId').value = data.userOrderData._id
                        const userOrderData = data.userOrderData.Products;
                       
                        userOrderData.forEach((Product) => {
                          
                          if(Product.Status == 'Delivered'){
                            const productHTML = `
                               

                                <div class="d-flex justify-content-between border rounded p-1">
                                    <input class='mx-2' type="checkbox"  class='productCheckboxes' name='products' value='${Product.ProductId._id}' name="" id="">
                                    <img class='mx-2' style="width:50px;" src="/static/uploads/${Product.ProductId.image[0]}" alt="images.....">
                                    <div class='mx-2 text-truncate w-100  p-2' >${Product.ProductId.name}</div>
                                    <div class='p-2 w-50'>₹: ${Product.ProductId.price}</div>
                                </div>
                            `;
                             
                            returProductsContent.innerHTML += productHTML;

                              }
                        });

                        const allProductsCheckbox = document.getElementById('returnAllProductsId')
                        allProductsCheckbox.addEventListener('change',()=>{
                          const productCheckboxes  = document.querySelectorAll('.returnProductCheckboxes')
                          productCheckboxes.forEach((checkBox)=>{
                            checkBox.checked = allProductsCheckbox.checked
                          })
                        })
                    }
                })
    .catch((error)=>{
      console.log(error);
    })

}
//----------------------------------------------------------------------------------------------

function returnOrderSubmit(){
  const returnOrderForm =  document.getElementById('returnOrderForm')
 
  if(returnOrderForm){
    const returnOrderData = new URLSearchParams(new FormData(returnOrderForm))

    fetch(`/returnOrder/${OrderId}`,{
        method:'POST',
        headers: {
        'Content-Type': 'application/x-www-form-urlencoded', // Set the content type
      },
      body:returnOrderData
      })
      .then((res)=>res.json())
      .then((data)=>{
        if(data.success){
    
          location.reload()
        }else{
          alert('This Product cannot return!')

        }
      })
  }
}

//----------------------------------------------------------------------------------------------
function cancelOrder(orderid) {
    const myModal = new bootstrap.Modal(document.getElementById('cancelOrderModal'));
    OrderId = orderid;

    Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Cancel The Order ?'
    }).then((result) => {
        if (result.isConfirmed) {
            myModal.show();

            const cancelProductsContent = document.getElementById('cancelProductsContent');

            fetch(`/fetchCancelOrderProducts?orderid=${OrderId}`, {})
                .then((res) => res.json())
                .then((data) => {
                    if (data.success) {
                     
                        cancelProductsContent.innerHTML = '';
                        document.getElementById('AllProductsId').value = data.userOrderData._id
                        const userOrderData = data.userOrderData.Products;
                       
                        userOrderData.forEach((Product) => {
                         
                          if(Product.Status == 'ordered' || 'Order Placed' && Product.Status !== 'Cancelled'){
                            const productHTML = `
                                <div class="d-flex justify-content-between border rounded p-1">
                                    <input class='mx-2' type="checkbox"  class='productCheckboxes' name='products' value='${Product.ProductId._id}' name="" id="">
                                    <img class='mx-2' style="width:50px;" src="/static/uploads/${Product.ProductId.image[0]}" alt="images.....">
                                    <div class='mx-2 text-truncate w-100  p-2' >${Product.ProductId.name}</div>
                                    <div class='p-2 w-50'>₹: ${Product.ProductId.price}</div>
                                </div>
                            `;
                             
                            cancelProductsContent.innerHTML += productHTML;

                              }
                        });

                        const allProductsCheckbox = document.getElementById('AllProductsId')
                        allProductsCheckbox.addEventListener('change',()=>{
                          const productCheckboxes  = document.querySelectorAll('.productCheckboxes')
                          productCheckboxes.forEach((checkBox)=>{
                            checkBox.checked = allProductsCheckbox.checked
                          })
                        })
                    }
                });
        }
    });
}
//=====================================================================================================
function cancelOrderSubmit() {
   const cancelOrderForm = document.querySelector('#cancelOrderForm');
   
   if (cancelOrderForm) {
      const formData = new URLSearchParams(new FormData(cancelOrderForm))
      
      fetch(`/cancelOrder/${OrderId}`, {
         method: 'POST',
         headers: {
        'Content-Type': 'application/x-www-form-urlencoded', // Set the content type
      },
         body: formData,
      })
         .then((response) => response.json())
         .then((data) => {
          
            if (data.success==='AllProducts') {
               Swal.fire({
      title: "Good job!",
      text: "All Cancel order successful!",
      icon: "success"
    });
               location.reload();
            }else if(data.success==='Individualcancel'){
              Swal.fire({
      title: "Good job!",
      text: "EIndividual cancel order successful!",
      icon: "success"
    });
               location.reload();
            } else {
               alert(data.message);
            }
         })
         .catch((error) => {
            console.log(error);
         });
   }
}



//---------------------------------------------------------------------------------------------
document.addEventListener('DOMContentLoaded',()=>{
const openModalBtn = document.getElementById('returnOrderButton');
const myModal = new bootstrap.Modal(document.getElementById('returnOrderModal'));


  // const returnOrderSubmit = document.querySelector('#returnOrderSubmit')
  const returnOrderForm = document.querySelector('#returnOrderForm')
  const cancelOrderForm = document.querySelector('#cancelOrderForm');

if (cancelOrderForm) {
   cancelOrderForm.addEventListener('submit', (e) => {
      e.preventDefault();
      cancelOrderSubmit();
   });
}

  if(returnOrderForm){
    returnOrderForm.addEventListener('submit',(e)=>{
      e.preventDefault()
      returnOrderSubmit();
    })
  }
})





    </script>
    
    <%-include('../partials/user-footer')-%>
    <!-- user footer partials -->
    <%-include('../layout/footer')-%>


