<%-include('../layout/head')-%>

<!-- user header partial -->

<%-include('../partials/user-header')-%>

<div class="container-fluid " style="padding-top: 110px; padding-bottom: 120px;">
    <div class="row d-flex justify-content-center ">  
      <div class="col-md-3">
        <div class="card shadow border mt-5 ">
          <div class="card-body">
            <div class="border-right">
              <div
                class="profile-pic d-flex flex-column align-items-center text-center  py-5"
              >
              <label class="-label" for="file">
                <!-- <span class="glyphicon glyphicon-camera"></span>
                <span>Change Image</span> -->
              </label>
              <input id="file" type="file" name="userProfile" onchange="loadFile(event)"/>
                <img
                  class="rounded-circle  mt-2 ImageContainer"
                  width="150px"
                  src="<%= userData.profile||'https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg' %>"
                  id="output"
                  alt='https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg'
                 
                  />

                <span class="font-weight-bold"> <%=userData.username%> </span>
                <span class="text-black-50"><%=userData.email%></span>
              </div>
              <div>
              <div class=" d-flex justify-content-center">
                <!-- Button trigger modal -->
                    <button type="button" id="Reset_Password" class="btn  form-control text-light bg-success border-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      Reset Password
                    </button>
              </div>
              <div class=" d-flex justify-content-center">
                <a href="/get_Orders" class="btn  form-control text-light bg-success border-0 mt-2 mb-2">Orders</a>
              </div>
              <div class=" d-flex justify-content-center">
                <a href="/get_userAddress" class="btn  form-control text-light bg-success border-0">Manage Address</a>
              </div>
            </div>
            </div>
          </div>
          
        </div>
      </div>


     <div class="col-md-6">
        <div class="card shadow border mt-5 me-5">
          <div class="card-body">
            <div class="d-flex justify-content-center"><h5 style="text-decoration: underline;">Address</h5></div>
            <form id="profileForm" >
              <div class="p-3 py-5 Address">
               <div>
                <div>Name &nbsp;&nbsp;&nbsp;&nbsp;: </div>
                <div><%=userData.username%></div>
               </div>
               <div>
                <div>Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</div><div> <%=userData.email%></div>
               </div>
               <div>
                <div>Address &nbsp;:</div>
                <%if(userData.Address.length>0){%>
                <div id="">
                  <%=userData.Address[0].HouseName%><br> 
                  <%=userData.Address[0].city%> <br>
                  <%=userData.Address[0].pincode%> <br> 
                  <%=userData.Address[0].state%> <br>
                  <%=userData.Address[0].mobileNumber%>
                </div>
                <%}else{%>
                  <div>
                    <h6>No Address can found...</h6>
                  </div>
                  <%}%>
               </div>
              </div>
              
            </form>
          
          </div>
        </div>

       
      </div>

    </div>
</div>
      



<!-- Modal -->
<div class="modal fade"  style="margin-top: 100px;" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Reset Your Password</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="resetPasswordform">
        
        <div id="errorResetPasswordMessage" style="display: none;" class="alert alert-danger" role="alert "></div>
        
        <fieldset >
        
         
          <div class="modal-body">
            <label class="form-label" for="">Enter Old Password</label>
            <input type="text" name="oldpassword" class="form-control">
            <hr>
            <label class="form-label" for="">Enter Old Password</label>
            <input type="text" name="newpassword" class="form-control">
            <label class="form-label" for="">Enter Old Password</label>
            <input type="text" name="confirmpassword" class="form-control">
    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button id="resetPassword" type="submit" class="btn btn-success">Submit</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<!-- user footer partials -->
<%-include('../partials/user-footer')-%>
<!-- user footer partials -->



<%-include('../layout/footer')-%>