<%-include('../layout/head')-%>
<%-include('../partials/user-header')-%>

<section class="" style="padding-top: 125px;">
  <div class="container">
    <div class="row">
      <!-- sidebar -->
      <div class="col-lg-3 mt-5">
        <!-- Toggle button -->
        <button
                class="btn btn-outline-secondary mb-3 w-100 d-lg-none"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
          <span>Show filter</span>
        </button>
        <!-- Collapsible wrapper -->
        <div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                        class="accordion-button text-dark bg-light" 
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseOne"
                        >
                  Categories
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                <div class="accordion-body">
                  <ul class="list-unstyled">
                    <% allcategorys.forEach(category => { %>
                      <li>
                        <a onclick="filterByCategory('<%= category.name %>')" id="<%=category.name%>" class="text-dark category-link"  style="text-decoration: none; cursor: pointer;">
                          <%= category.name %>
                        </a>
                      </li>
                    <% }); %>
                    
                    
                    
                  </ul>
                </div>
              </div>
            </div>
            

            <!-----------------------------------------------------------------------------------------------  -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button text-dark bg-light"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseThree"
                  aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseThree"
                >
                  Price
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                <div class="accordion-body">
                   <!-- Range input for price -->
                  <div class=" d-flex flex-column">
                      <button class="btn btn-outline-secondary mb-4" onclick="priceFiltering('low')">Low to heigh <span class="h5 mx-5"><i class="fa-solid fa-arrow-up-short-wide "></i></span></button>
                      <button class="btn btn-outline-secondary" onclick="priceFiltering('heigh')">Heigh to low  <span class="h5 mx-5"><i class="fa-solid fa-arrow-down-short-wide"></i></span></button>
                    <!-- <input type="range" class="form-range" id="customRange1" /> -->
                  </div>
                  
                  <!-- Apply button -->
                </div>
              </div>
            </div>
           
          
          </div>
        </div>
      </div>
      <!-- sidebar -->
      
      <!-- content -->
      <div class="col-lg-8">
        <div class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
          <strong class="d-block py-2">Product list </strong>
        </div>
        <!-- item shows here -->
        <div><input  type="text" id="categoryFromIndex" style="display: none;" value="<%=category%>"></div>
       <!-- Product List -->
          <div class="col-lg-12">
              <div id="productList">
                  <!-- The products will be loaded here dynamically -->
              </div>
          </div>

        <!-- item shows here -->
        
        <!-- Pagination -->

        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <!-- <li class="page-item"><a class="page-link" href="#">Previous</a></li> -->
          <div id="PaginationForProductList" class="d-flex">
              
          </div>
          <!-- <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
        </ul>
  </nav>
        
        <!-- Pagination -->
      </div>
    </div>
  </div>
</section>
<!--  -->

<%-include('../partials/user-footer')-%>
<script>
  document.addEventListener('DOMContentLoaded',()=>{
      const categoryFromIndex =  document.getElementById('categoryFromIndex').value
      
      filterByCategory(categoryFromIndex,1)

  })
</script>
<script>
  let global_cartProductIds =  new Set() 
  let global_wishlist = []  
  let AllProducts = []
  function filterByCategory(category,pageNumber) {
    document.querySelectorAll('.category-link').forEach((element) => {
        element.style.backgroundColor = ''; // Set to an empty string to remove inline style
    });
    // Change the color of the clicked category link
    document.getElementById(category).style.backgroundColor = 'gray'
    fetch(`/filterByCategory?category=${category}`)
      .then((res) => res.json())
      .then((data) => {
        if (data.success) {
           AllProducts =  data.Products
         const wishlist =  data.wishlist
         global_wishlist = wishlist
          let cartProductIds = data.cartProductIds instanceof Set ? data.cartProductIds : new Set();
          global_cartProductIds =  cartProductIds
        
          displayProducts (AllProducts,pageNumber=1,cartProductIds,wishlist)

          document.getElementById('PaginationForProductList').innerHTML = ""
    
      // pageination ====================================================
    if(AllProducts.length>5){
      for(let i=1;i<=Math.ceil(AllProducts.length / 5);i++){
      document.getElementById('PaginationForProductList').innerHTML += 
    `
      <li class="page-item"><button onclick='pageination(${i})' class="page-link">${i}</button></li>
    `
    }
  }

}
});
}

function pageination (pageNumber){

    displayProducts(AllProducts,pageNumber)
}

function displayProducts (products,pageNumber){
let wishlist = global_wishlist
let cartProductIds = global_cartProductIds
const productListContainer = document.getElementById('productList');
productListContainer.innerHTML = '';
const start =  (pageNumber-1) * 5
const end = start + 5
  const displayProducts =  products.slice(start,end)
  displayProducts.forEach((product) => {
            const productHTML = `
              <div class="row justify-content-center mb-3">
                <div class="col-md-12">
                  <div class="card shadow-0 border rounded-3">
                    <div class="card-body">
                      <div class="row g-0">
                        <div class="col-xl-3 col-md-4 d-flex justify-content-center">
                          <div class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
                            <a href="/productDetails/${product._id}" class="text-decoration-none">
                              <img src="/static/uploads/${product.image[0]}" class="w-50" />
                            </a>
                            <a href="#!">
                              <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                              </div>
                            </a>
                          </div>
                        </div>
                        <div class="col-xl-6 col-md-5 col-sm-7">
                          <a href="/productDetails/${product._id}" class="text-decoration-none">
                            <h5 class="text-success">${product.name}</h5>
                          </a>
                          <p class="text mb-4 mb-md-0">${product.description}</p>
                        </div>
                        <div class="col-xl-3 col-md-3 col-sm-5">
                          <div class="d-flex flex-row align-items-center mb-1">
                            <h4 class="mb-1 me-1">₹${product.price}</h4>
                          </div>
                          <h6 class="text-success">Free shipping</h6>
                          <div class="mt-4">
                            ${
                              cartProductIds.has(product._id.toString())
                                ? `<a class="text-light btn btn-secondary" href="/get_cart">Go To Cart</a>`
                                : `<a id="addToCartButton_${product._id}" class="btn btn-success" onclick="addToCart('${product._id}', 1)">Add To Cart</a>`
                            }
                            <button id="add_wishlist" type="button" onclick="toggleWishlist('${product._id}')" class="btn btn-success">
                              <i class="fa fa-heart${
                                wishlist.map((item) => item.Product_id.toString()).includes(product._id.toString())
                                  ? ' text-danger'
                                  : ''
                              }" id="add_wishlist_icon" data-product-id="${product._id}"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            `;

            // Append the productHTML to the productListDiv
            productListContainer.innerHTML += productHTML;
          });
}

function priceFiltering(sortMode){
  let sortProducts  = AllProducts,sortedPrducts =[]

  if(sortMode ===  'low'){

    sortedPrducts =  sortProducts.sort((a,b)=> a.price - b.price)
  }else if(sortMode === 'heigh'){
 
    sortedPrducts =  sortProducts.sort((a,b)=>  b.price - a.price)
  }

  AllProducts =  sortedPrducts
  displayProducts (AllProducts,1)

}

</script>

<script>
  function addToCart(productId, count){
      // Rest of your code
      let addToCartButton =  document.getElementById(`addToCartButton_${productId}`)
    let GoToCart_fromIndexButton  = document.getElementById(`GoToCart_fromIndex${productId}`)
      
      fetch(`/add-addToCart/${count}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ productId }),
    })
        .then((response) => response.json())
        .then((data) => {
            if (data.message) {
                
               
              addToCartButton.style.display = 'none'
                GoToCart_fromIndexButton.style.display =  'block'
                
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'bottom',
                    iconColor: 'black',
                    titleColor:'black',
                    showConfirmButton: false,
                    timer: 1000,
                    timerProgressBar: true,
                    customClass: {
                        popup: 'colored-toast',
                      },
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    },
                    didClose: () => {
                        // Reload the page after the toast is closed
                        // location.reload();
                    },
                });
                Toast.fire({
                    icon: 'success',
                    title: 'One Item Successfully Added To The Cart',
                });

            } else {
                console.log('Error on adding to wishlist');
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
}
</script>
<%-include('../layout/footer')-%> 

