<%-include('../layout/head')-%>
<%-include('../partials/user-header')-%>

<section class="" style="padding-top: 125px;">
  <div class="container">
    <div class="row">
      <!-- sidebar -->
       <!-- sidebar -->
       <div class="col-lg-3 mt-5">
        <!-- Toggle button -->
        <button
                class="btn btn-outline-secondary mb-3 w-100 d-lg-none"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
          <span>Show filter</span>
        </button>
        <!-- Collapsible wrapper -->
        <div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                        class="accordion-button text-dark bg-light" 
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseOne"
                        >
                  Categories
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                <div class="accordion-body">
                  <ul class="list-unstyled">
                    <% allcategorys.forEach(category => { %>
                      <li>
                        <a onclick="filterByCategory('<%= category.name %>')" id="<%=category.name%>" class="text-dark category-link"  style="text-decoration: none; cursor: pointer;">
                          <%= category.name %>
                        </a>
                      </li>
                    <% }); %>
                    
                    
                    
                  </ul>
                </div>
              </div>
            </div>
            

            <!-----------------------------------------------------------------------------------------------  -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button text-dark bg-light"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseThree"
                  aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseThree"
                >
                  Price
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                <div class="accordion-body">
                   <!-- Range input for price -->
                  <!-- <div class="range">
                   
                    <input type="range" class="form-range" id="customRange1" />
                  </div> -->
                  <div class="row mb-3">
                    <!-- Minimum price input -->
                    <div class="col-6">
                      <p class="mb-0">Min</p>
                      <div class="form-outline">
                        <input type="number" id="minPrice" class="form-control" />
                        <label class="form-label text-danger" id="minPriceError" for="minPrice"></label>
                      </div>
                    </div>
                    <!-- Maximum price input -->
                    <div class="col-6">
                      <p class="mb-0">Max</p>
                      <div class="form-outline">
                        <input type="number" id="maxPrice" class="form-control" />
                        <label class="form-label text-danger" id="maxPriceError" for="maxPrice"></label>
                      </div>
                    </div>
                  </div>
                  <!-- Apply button -->
                  <span id="PriceCheck"></span>
                  <button type="submit" onclick="SearchPriceFitering()" class="btn btn-white w-100 border border-secondary">Apply</button>
                </div>
              </div>
            </div>
           
          
          </div>
        </div>
      </div>
      <!-- sidebar -->
      <!-- sidebar -->
      <!-- content -->
      <div class="col-lg-8">
        <div class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
          <strong class="d-block py-2">Product list </strong>
          <div class="ms-auto">
            
            
          </div>
        </div>

                <!-- item shows here -->
       <!-- Product List -->
       <div class="col-lg-11">
        <div id="productList">
            <!-- The products will be loaded here dynamically -->
        </div>
    </div>

  <!-- item shows here -->
  <div id="SearchexistingProducts">
          <%for(let i=0;i<products.length;i++){%>
        <div class="row justify-content-center mb-3">
          <div class="col-md-11">
            <div class="card shadow-0 border rounded-3">
              <div class="card-body">
                <div class="row g-0">
                  <div class="col-xl-3 col-md-4 d-flex justify-content-center">
                    <div class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
                      <a href="/productDetails/<%=products[i]._id%>" class="text-decoration-none">
                        <img  src="/static/uploads/<%=products[i].image[0]%>"class="w-50" />
                      </a>
                      <a href="#!">
                        <div class="hover-overlay">
                          <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-xl-6 col-md-5 col-sm-7">
                    <a href="/productDetails/<%=products[i]._id%>" class="text-decoration-none">
                       <h5 class="text-success"><%=products[i].name%></h5>
                    </a>
                    <div class="d-flex flex-row">
                      <div class="text-warning mb-1 me-2">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span class="ms-1">
                          4.5
                        </span>
                      </div>
                      <span class="text-muted">154 orders</span>
                    </div>

                    <p class="text mb-4 mb-md-0">
                      <%=products[i].description%>
                    </p>
                  </div>
                  <div class="col-xl-3 col-md-3 col-sm-5">
                    <div class="d-flex flex-row align-items-center mb-1">
                      <h4 class="mb-1 me-1">₹<%=products[i].price%></h4>
                      <span class="text-danger"><s>$49.99</s></span>
                    </div>
                    <h6 class="text-success">Free shipping</h6>
                    <div class="mt-4">
                      <% if (cartProductIds.has(products[i]._id.toString())) { %>
                        <a class="text-light btn btn-secondary" href="/get_cart">Go To Cart</a>
                      <% } else { %>
                        <a id="addToCartButton_<%= products[i]._id %>" class="btn btn-success" onclick="addToCart('<%= products[i]._id %>', 1)">Add To Cart</a>

                      <% } %>
                      <button id="add_wishlist" type="button" onclick="toggleWishlist('<%= products[i]._id %>')" class="btn btn-success">
                        <i class="fa fa-heart<% if (wishlist.map(item => item.Product_id.toString()).includes(products[i]._id.toString())) { %> text-danger<% } %>" id="add_wishlist_icon" data-product-id="<%= products[i]._id %>"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

       <%}%>
  </div>
        <!-- Pagination -->
        
        <%for(let i=0;i<products_count;i++){%>
          <%if(i===pageNumber){%>
          <a name="pageInationNumber" onclick="pageInationButton()" id="pageInationButton<%=i%>" class="btn btn-secondary m-2" href="/userProductList/<%=products[0].category%>?page=<%=i%>"><%=i+1%></a>
         <%}else{%>
          <a name="pageInationNumber" onclick="pageInationButton()" id="pageInationButton<%=i%>" class="btn btn-success m-2" href="/userProductList/<%=products[0].category%>?page=<%=i%>"><%=i+1%></a>

          <%}%>
          <%}%>
        <!-- Pagination -->
      </div>
    </div>
  </div>
</section>
<!--  -->

<script>
  function filterByCategory(category) {
   
    document.querySelectorAll('.category-link').forEach((element) => {
        element.style.backgroundColor = ''; // Set to an empty string to remove inline style
    });
    // Change the color of the clicked category link
    document.getElementById(category).style.backgroundColor = 'gray'
   
    // Hide the product list while fetching and updating
    document.getElementById('productList').style.display = 'none';

    fetch(`/filterByCategory?category=${category}`)
      .then((res) => res.json())
      .then((data) => {
        if (data.success) {
          console.log(data.cartProductIds);
          const product =  data.Products
         const wishlist =  data.wishlist
          let cartProductIds = data.cartProductIds instanceof Set ? data.cartProductIds : new Set();

          // Get the product list container
          const productListContainer = document.getElementById('productList');

          // Clear existing content in the container
          productListContainer.innerHTML = '';

          // Iterate through the products and append them to the productListDiv
          data.Products.forEach((product) => {
            const productHTML = `
              <div class="row justify-content-center mb-3">
                <div class="col-md-11">
                  <div class="card shadow-0 border rounded-3">
                    <div class="card-body">
                      <div class="row g-0">
                        <div class="col-xl-3 col-md-4 d-flex justify-content-center">
                          <div class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
                            <a href="/productDetails/${product._id}" class="text-decoration-none">
                              <img src="/static/uploads/${product.image[0]}" class="w-50" />
                            </a>
                            <a href="#!">
                              <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                              </div>
                            </a>
                          </div>
                        </div>
                        <div class="col-xl-6 col-md-5 col-sm-7">
                          <a href="/productDetails/${product._id}" class="text-decoration-none">
                            <h5 class="text-success">${product.name}</h5>
                          </a>
                          <p class="text mb-4 mb-md-0">${product.description}</p>
                        </div>
                        <div class="col-xl-3 col-md-3 col-sm-5">
                          <div class="d-flex flex-row align-items-center mb-1">
                            <h4 class="mb-1 me-1">₹${product.price}</h4>
                          </div>
                          <h6 class="text-success">Free shipping</h6>
                          <div class="mt-4">
                            ${
                              cartProductIds.has(product._id.toString())
                                ? `<a class="text-light btn btn-secondary" href="/get_cart">Go To Cart</a>`
                                : `<a id="addToCartButton_${product._id}" class="btn btn-success" onclick="addToCart('${product._id}', 1)">Add To Cart</a>`
                            }
                            <button id="add_wishlist" type="button" onclick="toggleWishlist('${product._id}')" class="btn btn-success">
                              <i class="fa fa-heart${
                                wishlist.map((item) => item.Product_id.toString()).includes(product._id.toString())
                                  ? ' text-danger'
                                  : ''
                              }" id="add_wishlist_icon" data-product-id="${product._id}"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            `;
            document.getElementById('SearchexistingProducts').style.display = 'none'
            // Append the productHTML to the productListDiv
            productListContainer.innerHTML += productHTML;
          });
     // Show the product list after updating
     document.getElementById('productList').style.display = 'block';

}
});
}


//---------------------------------------------------------------



  // Add an event listener to the range input
 

  // Function to update label values based on the range input
  function SearchPriceFitering() {
    // Get the current value of the range input

    const minPriceInput = document.getElementById('minPrice').value;
    const maxPriceInput = document.getElementById('maxPrice').value;
    const minPriceError = document.getElementById('minPriceError')
    const maxPriceError = document.getElementById('maxPriceError')
    if(minPriceInput =='' || maxPriceInput ==''){
      if(minPriceInput =='' ){
      minPriceError.innerText ='Required'
    }
    else{
      minPriceError.innerText =''
    }
    if(maxPriceInput =='' ){
      maxPriceError.innerText ='Required'
    }else{
      maxPriceError.innerText =''
    }
    }else if(maxPriceInput < minPriceInput){
        Swal.fire({
        icon: "error",
        title: "Oops...",
        text: "Minimum  must be lesser than Maximum!",
         });
         
    }else{

      fetch(`/productListPagePriceFilter?minPriceInput=${minPriceInput}&maxPriceInput=${maxPriceInput}`,{})
      .then((res)=>res.json())
      .then((data)=>{
        if (data.success) {
        
          const product =  data.Products
         const wishlist =  data.wishlist
         console.log('product');
          let cartProductIds = data.cartProductIds instanceof Set ? data.cartProductIds : new Set();

          // Get the product list container
          const productListContainer = document.getElementById('productList');

          // Clear existing content in the container
          productListContainer.innerHTML = '';

          // Iterate through the products and append them to the productListDiv
          data.Products.forEach((product) => {
            const productHTML = `
              <div class="row justify-content-center mb-3">
                <div class="col-md-11">
                  <div class="card shadow-0 border rounded-3">
                    <div class="card-body">
                      <div class="row g-0">
                        <div class="col-xl-3 col-md-4 d-flex justify-content-center">
                          <div class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
                            <a href="/productDetails/${product._id}" class="text-decoration-none">
                              <img src="/static/uploads/${product.image[0]}" class="w-50" />
                            </a>
                            <a href="#!">
                              <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                              </div>
                            </a>
                          </div>
                        </div>
                        <div class="col-xl-6 col-md-5 col-sm-7">
                          <a href="/productDetails/${product._id}" class="text-decoration-none">
                            <h5 class="text-success">${product.name}</h5>
                          </a>
                          <p class="text mb-4 mb-md-0">${product.description}</p>
                        </div>
                        <div class="col-xl-3 col-md-3 col-sm-5">
                          <div class="d-flex flex-row align-items-center mb-1">
                            <h4 class="mb-1 me-1">₹${product.price}</h4>
                          </div>
                          <h6 class="text-success">Free shipping</h6>
                          <div class="mt-4">
                            ${
                              cartProductIds.has(product._id.toString())
                                ? `<a class="text-light btn btn-secondary" href="/get_cart">Go To Cart</a>`
                                : `<a id="addToCartButton_${product._id}" class="btn btn-success" onclick="addToCart('${product._id}', 1)">Add To Cart</a>`
                            }
                            <button id="add_wishlist" type="button" onclick="toggleWishlist('${product._id}')" class="btn btn-success">
                              <i class="fa fa-heart${
                                wishlist.map((item) => item.Product_id.toString()).includes(product._id.toString())
                                  ? ' text-danger'
                                  : ''
                              }" id="add_wishlist_icon" data-product-id="${product._id}"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            `;

            // Append the productHTML to the productListDiv
            productListContainer.innerHTML += productHTML;
          
          });
     // Show the product list after updating
     document.getElementById('productList').style.display = 'block';

}
      })
    }


        
  }
</script>

<%-include('../partials/user-footer')-%>
<%-include('../layout/footer')-%> 