<%-include('../layout/head')-%>
<%-include('../partials/user-header')-%>


<section class="" style="padding-top: 125px;">
  <div class="container">
    <div class="row d-flex" >
      <!-- sidebar -->
      <!-- <div class="col-lg-3"> -->
        <!-- Toggle button -->
        <!-- <button
                class="btn btn-outline-secondary mb-3 w-100 d-lg-none"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
          <span>Show filter</span>
        </button> -->
        <!-- Collapsible wrapper -->
        <!-- <div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                        class="accordion-button text-dark bg-light"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#panelsStayOpen-collapseOne"
                        aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne"
                        >
                  Related items
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                <div class="accordion-body">
                  <ul class="list-unstyled">
                    <li><a href="#" class="text-dark">Headphones </a></li>
                    <li><a href="#" class="text-dark">Mobiles </a></li>
                    <li><a href="#" class="text-dark">Laptops </a></li>
                    <li><a href="#" class="text-dark">TV </a></li>
                  </ul>
                </div>
              </div>
            </div> -->
            <!-- <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                        class="accordion-button text-dark bg-light"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#panelsStayOpen-collapseTwo"
                        aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseTwo"
                        >
                  Brands
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                <div class="accordion-body">
                  <div> -->
                    <!-- Checked checkbox -->
                    <!-- <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1" checked />
                      <label class="form-check-label" for="flexCheckChecked1">Mercedes</label>
                      <span class="badge badge-secondary float-end">120</span>
                    </div> -->
                    <!-- Checked checkbox -->
                    <!-- <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" checked />
                      <label class="form-check-label" for="flexCheckChecked2">Toyota</label>
                      <span class="badge badge-secondary float-end">15</span>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

            <!-----------------------------------------------------------------------------------------------  -->
            <!-- <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                        class="accordion-button text-dark bg-light"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#panelsStayOpen-collapseThree"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree"
                        >
                  Price
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                <div class="accordion-body">
                  <div class="range">
                    <input type="range" class="form-range" id="customRange1" />
                  </div>
                  <div class="row mb-3">
                    <div class="col-6">
                      <p class="mb-0">
                        Min
                      </p>
                      <div class="form-outline">
                        <input type="number" id="typeNumber" class="form-control" />
                        <label class="form-label" for="typeNumber">₹ 0</label>
                      </div>
                    </div>
                    <div class="col-6">
                      <p class="mb-0">
                        Max
                      </p>
                      <div class="form-outline">
                        <input type="number" id="typeNumber" class="form-control" />
                        <label class="form-label" for="typeNumber">₹ 1,0000</label>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-white w-100 border border-secondary">apply</button>
                </div>
              </div>
            </div>
           
          
          </div>
        </div>
      </div> -->
      <!-- sidebar -->
      <!-- content -->
       <!-- -------------------------------------------------------------------------- -->
      <div class="col-lg-12">
        <div class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
          <strong class="d-block py-2">My Wishlist</strong>
        </div>
  
 <div class="row justify-content-center mb-3">
    <div class="col-md-12">
      
      
      <div class="card shadow-0 border rounded-3">
        <div class="card-body shadow">
          <div class="row g-0">

            <% if (wishlistItems.length > 0) { %>
              <% for (let i = 0; i < wishlistItems.length; i++) { %>
         <div class=" border d-flex p-3">
            <div class="col-xl-3 col-md-4 d-flex justify-content-center p-3 ">
              <div class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
                <a href="" class="text-decoration-none" >
                  <img  src='/static/uploads/<%=wishlistItems[i].Product_id.image[0]%>' style="width: 40%; " />
                </a>
                <a href="#!">
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xl-6 col-md-5 col-sm-7">
              <a href="" class="text-decoration-none">
                 <h5 class="text-success"><%=wishlistItems[i].Product_id.name%></h5></a>
              <div class="d-flex flex-row">
                <div class="text-warning mb-1 me-2">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <span class="ms-1">
                    4.5
                  </span>
                </div>
                <span class="text-muted">154 orders</span>
              </div>

              <p class="text mb-4 mb-md-0">
                description
              </p>
            </div>
            <div class="col-xl-3 col-md-3 col-sm-5">
              <div class="d-flex flex-row align-items-center mb-1">
                <h4 class="mb-1 me-1"><span>₹</span><%=wishlistItems[i].Product_id.price%></h4>
                <span class="text-danger"><s>$49.99</s></span>
              </div>
              
              <div class="mt-4">
                <button class="btn btn-success shadow-0" type="button">Add To Cart</button>
                <button onclick="deleteWishlist(`<%= wishlistItems[i].Product_id._id %>`)" class="btn btn-light border px-2 pt-2 icon-hover">
                  <i class="fas fa-trash fa-lg px-1"></i>
                </button>
                
                
              </div>
            </div>
          </div>
            <% } %>
            <% } else { %>
              <p>Your wishlist is empty.</p>
            <% } %>

          </div>
        </div>


      </div>
    </div>
  </div>
     <!-- ------------------------------------------------------------------------------------- -->
      </div>
    </div>
  </div>
</section>



<%-include('../partials/user-footer')-%>

<%-include('../layout/footer')-%> 